<div class="BoxContainer">
        <div class="box1">
            <i class="fa fa-desktop" ></i>
            <h1>Fully Responsive</h1>
            <p>Our websites and applications adapt seamlessly to all screen sizes, ensuring a smooth user experience on mobile, tablet, and desktop.</p>
            
        </div>
        <div class="box2">
            <i class='fa fa-life-bouy'></i>
            <h1>Friendly Support</h1>
            <p> Get expert assistance whenever you need it. We provide responsive and professional support to help with any technical issues.</p>
        </div>
        <div class="box3">
            <i class='fa fa-laptop'></i>
            <h1>Visual Display</h1>
            <p> Stunning, high-quality visuals optimized for clarity, performance, and user engagement across all devices.</p>
        </div>
        <div class="laptopsContainer">
            <div class="laptops">
                <img src='/assets/ServicesAssets/laptops.png' alt="" id="laptopIMG">
            </div>
        </div>
    </div>