<div class="ContainerAbout">
    <div class="About">
        <div class="AboutText">
            <p>__________</p>
            <h1>Welcome To Seipei Solutions</h1>
            <h2>At Seipei Solutions, we are committed to helping businesses establish a strong digital presence through innovative web and app development. Our expertise lies in crafting responsive, high-performance websites and applications that drive growth and success.</h2>
       
        </div>
        <div class="Image">
            <img src='/assets/HomeAssets/Aboutus.png' alt="About Us" id="Aboutus">
        </div>
    </div>
</div>
