.ContainerNavbar{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .logocontainer{
    width: 50%;
  }
  #logoIMG{
    width: 50%;
  }
  .barcontainer{
   width: 50%;
  
   justify-content: right;
   display: flex;
  }
  .bars{
    padding-right: 15%;
    align-items: center;
    display: flex;
  }
  .fa{
    font-size: 15px;
  }
  
  .navbar-slide {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--main);
    color:var(--textprimary );
    transition: width 0.5s;
    overflow-x: hidden;
  }
  .DesktopNav{
   display: none;
  }
  
  @media screen and (min-width: 1024px){
    .ContainerNavbar{
     height: 10vh;
    }
    .barcontainer{
      display: none;
    }
    .logocontainer{
      width: 30%;
      padding-left: 15%;
      align-items: center;
      justify-content: center;
      align-items: center;
    }
    #logoIMG{
      width: 25%;
      padding-left: 0%;
      margin-top: -3.20%;
    }
    .DesktopNav{
      width: 50%;
      flex-direction: row;
      display: flex;
      align-items: center;
      padding-left: 3%;
     }
     .Desktop{
      flex-direction: row;
      display: flex;
     }
     .Desktop a{
      margin: 5%;
      text-wrap: nowrap;
      text-decoration: none;
      color:var(--main);
      font-family: poppins , sans-serif;
     }
     #Appointment{
      background-color: var(--main); /* Green */
      border: none;
      color: white;
      padding: 15px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 12px;
     }
  }