<div class="ContainerProject">
    <div class="Project">
     <p>___________</p>
        <h1>Have a Project in mind ?</h1>
        <h2>Reach out and lets make it happen</h2>
    </div>
</div>
<div class="Contact" id="Contact">
    <div class="row">
        <div class="column1">
          <img src='/assets/HomeAssets/contactImg.png' alt="" id="contact">
        </div>

        <div class="column">
          <form action="mailto:@email.com" method="post" enctype="text/plain">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
