<div class="ContainerCarousel">
    <div class="Carousel">
        <h1>Your Online Presence , Perfected</h1>
        <p>Responsive, fast, and stunning websites tailored for your business.</p>
        <input type="button" alt="" value="Get in touch" id="GetinTouch">
    </div>
</div>


<div class="ContainerBranding">
    <div class="Branding">
        <div class="boxes1">
         <p>Start Your Digital Transformation</p>
         <p>Strategic web and app solutions designed to elevate your business.</p>
         <br><br><br><br><br><br><br><br><br><br><br> 
         <h1>Start A Good Plan </h1>
        </div>
        <div class="boxes2">
            <p>Turn Ideas into Reality</p>
            <p>From concept to launch, we build digital solutions tailored to your vision.</p>
            <br><br><br><br><br><br><br><br><br><br><br> 
            <h1>Start An Idea </h1>
        
    </div>
    <div class="boxes3">
        <p>Your Tech Partner for Success</p>
        <p>Expert consulting and development to help your business thrive in the digital world.</p>
        <br><br><br><br><br><br><br><br><br><br><br> 
        <h1>Expert Solutions </h1>
          
        
    </div>
</div>