<div class="ContainerOurServices">
    <div class="Services">
     <p>___________</p>
     <h1>Our Services</h1>
    </div>
    <div class="BoxContainer">
        <div class="box1">
            <i class="fa fa-code" ></i>
            <h1>Website Design & Development </h1>
            <p> We create unique websites that align with your brand identity and goals.</p>
            
        </div>
        <div class="box2">
            <i class='fa fa-shopping-cart'></i>
            <h1> E-Commerce Solutions </h1>
            <p> We build secure and scalable online stores to help you sell your products.</p>
        </div>
        <div class="box3">
            <i class='fa fa-cogs'></i>
            <h1>Website Maintenance </h1>
            <p> We offer ongoing support to ensure your website remains up-to-date.</p>
        </div>
        <div class="box4">
            <i class='fa fa-mobile-phone'></i>
            <h1> Web App Development</h1>
            <p>We build interactive and feature-rich web applications for businesses and startups.</p>
        </div>
        <div class="box5">
            <i class='fa fa-cloud'></i>
            <h1>Web Hosting & Domain Services</h1>
            <p>we handle all your hosting and domain needs, so you can focus on growing your business.</p>
        </div>
        <div class="box6">
            <i class='fa fa-pencil-square'></i>
            <h1>UI/UX Design & Prototyping</h1>
            <p>We create intuitive, user-friendly designs to improve customer engagement  digital experiences .</p>
        </div>
    </div>    
        </div>
      