/* You can add global styles to this file, and also import other style files */



:root {

    //web colors below
    --main: #111111 ;
   --textprimary : white;
   --textsecondary : lightgrey;
   --textthird:grey;
  
}